# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
mainCube
mainLSH
.vscode/settings.json
brute.dat
brute.dat
lshResults.txt
cubeResults.txt
Files/siftbig/input_b_id
Files/siftbig/query_b_id
Files/trajectories_dataset
input
cube
curve
curveResultsLSHGrid.txt
curveLSHLSH.txt
curveLSHCube.txt
lsh
brute
lsh
lsh
brute
LSH_LSH.txt
lsh
brute
LSH_LSH.txt
lsh
lshPointsResult.txt
brute
bruteCurves.txt
cubePointsResult.txt
LSH_Hypercube.txt
results.txt
LSH_LSH.txt
lsh
LSH_LSH.txt
lsh
brute
lsh
brute
brute
